@import 'tailwindcss';

/* 폰트 임포트 */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/PretendardVariable.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* 프로젝트 공통 변수 */
:root {
  --font-pretendard:
    'Pretendard', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: var(--font-pretendard);

  --color-blue: #0065ff; /* bg-blue */
  --color-blue-light: #2eb4ff; /* bg-blue-light */
  --color-blue-pale: #e5f3ff; /* bg-blue-pale */

  --color-yellow: #ffc23d; /* bg-yellow */

  --color-black: #1b1b1b; /* text-black */
  --color-black-nomad: #112211; /* text-black-nomad / bg-black-nomad */

  --color-gray-50: #fafafa;
  --color-gray-100: #eeeeee;
  --color-gray-200: #dddddd;
  --color-gray-300: #cbcbcf;
  --color-gray-400: #adaebd;
  --color-gray-500: #a4a4aa;
  --color-gray-600: #1a1a1a;
  --color-gray-700: #79747e;
  --color-gray-800: #4b4b4b;

  --color-background: var(--background); /* bg-background */
  --color-foreground: var(--foreground); /* text-foreground */

  --text-3xl: 32px;
  --leading-3xl: 42px;
  --text-2xl: 24px;
  --leading-2xl: 32px;
  --text-xl: 20px;
  --leading-xl: 32px;
  --text-2lg: 18px;
  --leading-2lg: 26px;
  --text-lg: 16px;
  --leading-lg: 26px;
  --text-md: 14px;
  --leading-md: 24px;
  --text-sm: 13px;
  --leading-sm: 22px;
  --text-xs: 12px;
  --leading-xs: 18px;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
